.features {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 19.5rem 27.3125rem 19.5rem 27.3125rem;
    grid-template-areas: "transformPic"
                         "transformText"
                         "standoutPic"
                         "standoutText";
    text-align: center;

    @include breakpoint-up(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "transformText transformPic"
            "standoutPic standoutText";
        text-align: left;

    }

    &__image {
        width: 100%
    }

    &__item {
        background: $white;

        @include breakpoint-up(xmedium) {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    .transform {
        grid-area: transformPic;
    }

    .transformText {
        grid-area: transformText;
    }

    .standoutPic {
        grid-area: standoutPic;
    }

    .standoutText {
        grid-area: standoutText;
    }

    .featureTitle {
        padding-top: 2rem;
        font-size: 2rem;
        font-family: 'Fraunces';
        color: $veryDarkDesaturatedBlue;
        padding-bottom: 2rem;

        @include breakpoint-up(medium) {
            padding: 1rem;
            font-size: 1.5rem;
        }

        @include breakpoint-up(xmedium) {
            font-size: 2.5rem;
            align-self: flex-start;
            padding-left: 7.8125rem;
            padding-bottom: 3.625rem;
            padding-right: 7.8125rem;
        }
    }

    .featureText {
        font-family: 'Barlow';
        font-weight: 600;
        font-size: 1.125rem;
        color: $darkGrayishBlue;
        padding-bottom: 2.75rem;

        // @include breakpoint-up(medium) {
        //     padding: 1rem;
        // }

        @include breakpoint-up(xmedium) {
            font-size: 1.125rem;
            padding-left: 7.8125rem;
            padding-right: 7.8125rem;
            padding-bottom: 3.25rem;
        }
    }

    .learnMore {
        font-family: 'Fraunces';
        font-size: 0.9375rem;
        text-transform: uppercase;
        color: $veryDarkDesaturatedBlue;
        cursor: pointer;

        @include breakpoint-up(medium) {
            align-self: flex-start;
            padding-left: 1rem;
        }

        @include breakpoint-up(xmedium) {
            padding-left: 7.8125rem;
            padding-right: 7.8125rem;
        }
    }

    .learnMoreLine {
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 10px;
        width: 8.375rem;
        bottom: -8px;
        background: #FAD400;
        border-radius: 5px;

        @include breakpoint-up(medium) {
            margin-left: 1rem;
            margin-bottom: 0px;
            
        }

        @include breakpoint-up(xmedium) {
            margin-left: 7.8125rem;
            margin-right: 7.8125rem;
        }
    }

    .learnMoreLinePink {
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 10px;
        width: 8.375rem;
        bottom: -8px;
        background: $softRed;
        border-radius: 5px;

        @include breakpoint-up(medium) {
            margin-left: 1rem;
            margin-bottom: 0px;
            
        }

        @include breakpoint-up(xmedium) {
            margin-left: 7.8125rem;
            margin-right: 7.8125rem;
        }
    }

    .graphicTitle {
        padding-top: 21.875rem;
        padding-bottom: 2rem;
        color: $darkDesaturatedCyan;

        @include breakpoint-up(xmedium) {
            font-size: 1.75rem;
            text-align: center;
        }

        @include breakpoint-up(xlarge) {
            padding-top: 21.875rem;
        }
    }

    .graphicText {
        font-family: 'Barlow';
        font-size: 1rem;
        color: $darkDesaturatedCyan;
        text-align: center;

        @include breakpoint-up(large) {
            padding-left: 9.4375rem;
            padding-right: 9.4375rem;
        }
    }

    .graphicDesign {
        background: url("../../images/mobile/image-graphic-design.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: graphicDesign;

        @include breakpoint-up(xlarge) {
            background: url("../../images/desktop/image-graphic-design.jpg");
        }
    }





    .photography {
        background: url("../../images/mobile/image-photography.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: photography;

        @include breakpoint-up(xlarge) {
            background: url("../../images/desktop/image-photography.jpg");
        }
    }

    .photographyTitle {
        padding-top: 21.875rem;
        padding-bottom: 2rem;
        color: $darkBlue;

        @include breakpoint-up(xmedium) {
            font-size: 1.75rem;
            text-align: center;
        }

        @include breakpoint-up(xlarge) {
            padding-top: 21.875rem;
        }
    }

    .photographyText {
        font-family: 'Barlow';
        font-size: 1rem;
        color: $darkBlue;
        text-align: center;

        @include breakpoint-up(large) {
            padding-left: 9.4375rem;
            padding-right: 9.4375rem;
        }
    }
}