.features {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include breakpoint-up(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-areas: 
        "transformText transformPic"
        "standoutPic standoutText"
        "graphicDesign photography";
        text-align: left;
        
    }

    &__image {
        width: 100%
    }

    &__item {
        background: $white;

        @include breakpoint-up(xmedium) {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    .transform {
        grid-area: transformPic; 
    }

    .transformText {
        grid-area: transformText;
    }
    .standoutPic {
        grid-area: standoutPic;
    }
    .standoutText {
        grid-area: standoutText;
    }

    h2 {
        padding-top: 2rem;
        font-size: 2rem;
        font-family: 'Fraunces';
        color: $veryDarkDesaturatedBlue;
        padding-bottom: 2rem;

        @include breakpoint-up(medium) {
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.5rem;
        }

        @include breakpoint-up(xmedium) {
            font-size: 2.5rem;
            align-self: flex-start;
            padding-left: 2.8125rem;
            padding-bottom: 3.6875rem;
            padding-right: 2.8125rem;
        }
    }

    p {
        font-family: 'Barlow';
        font-weight: 600;
        font-size: 1.125rem;
        color: $darkGrayishBlue;
        padding-bottom: 2.75rem;

        @include breakpoint-up(medium) {
            font-size: 1rem;
            padding-bottom: 2rem;
        }

        @include breakpoint-up(xmedium) {
            font-size: 1.125rem;
            padding-left: 2.8125rem;
            padding-right: 2.8125rem;
            padding-bottom: 3.25rem;
        }
    }

    .learnMore {
        font-family: 'Fraunces';
        font-size: 0.9375rem;
        text-transform: uppercase;
        color: $veryDarkDesaturatedBlue;
        cursor: pointer;
        @include breakpoint-up(medium) {
            align-self: flex-start;
        }

        @include breakpoint-up(xmedium) {
            padding-left: 2.8125rem;
            padding-right: 2.8125rem;
        }
    }

    .learnMoreLine {
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 10px;
        width: 8.375rem;
        bottom: -8px;
        background: #FAD400;
        border-radius: 5px;

        @include breakpoint-up(medium) {
            margin-bottom: 0px;
            margin: 0;
        }
        @include breakpoint-up(xmedium) {
            margin-left: 2.8125rem;
            margin-right: 2.8125rem;
        }
    }

    .learnMoreLinePink {
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 10px;
        width: 8.375rem;
        bottom: -8px;
        background: $softRed;
        border-radius: 5px;
        @include breakpoint-up(medium) {
            margin-bottom: 0px;
            margin: 0;
        }
        @include breakpoint-up(xmedium) {
            margin-left: 2.8125rem;
            margin-right: 2.8125rem;
        }
    }
    .graphicTitle {
        padding-top: 22.9375rem;
        color: $darkDesaturatedCyan;
    }

    .graphicDesign {
        background: url("../../images/mobile/image-graphic-design.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: graphicDesign;
    }

   

    .graphicText {
        font-size: 1rem;
        color: $darkDesaturatedCyan;
    }

    .photography {
        background: url("../../images/mobile/image-photography.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: photography;
    }
    .photographyTitle {
        padding-top: 22.9375rem;
        color: $darkBlue;
    }

    .photographyText {
        font-size: 1rem;
        color: $darkBlue;
    }
}

    



