.footer {
    background-color: #90D4C6;

    &__logo {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }

    &__links {
        display: flex;
        justify-content: center;
        gap: 3.625rem;
        padding-bottom: 5.9375rem;

        a {
            font-family: 'Barlow', sans-serif;
            color: $darkModerateCyan;
            cursor: pointer;
        }
    }

    &__socialmedias {
        display: flex;
        justify-content: center;
        gap: 1.75rem;
        padding-bottom: 3rem;
    }
}